@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html data-theme="halloween" lang="en" class='scroll-smooth'>
<head>
    <base href="~/"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="hydro-config"/>

    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <script defer src="~/hydro/alpine.js" asp-append-version="true"></script>

    <title>@ViewData["Title"] - Lock-N-Loadout</title>

    <script src="https://unpkg.com/htmx.org@latest"
            asp-fallback-src="~/lib/htmx.org/dist/htmx.min.js"
            asp-fallback-test="window.htmx"
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.min.js"
            asp-fallback-src="~/lib/chartjs"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <!-- Alpine Plugins -->
    <script defer src='https://cdn.jsdelivr.net/npm/@@alpinejs/persist@3.x.x/dist/cdn.min.js'></script>
    @* <script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script> *@
    @* <script defer src="https://unpkg.com/@@alpinejs/morph@3.x.x/dist/cdn.min.js"></script> *@

    <!-- Alpine Core -->
    @* <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> *@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>

    <script type="module" src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/dist/index.js" type="module"></script>


    @*
    TODO: This is screwing up daisyui's default styles somehow, even when I recompile
     <link rel="stylesheet" href="~/css/site.css"> *@

    <view-script append-version="true"/>

</head>

<body class="flex-1 overflow-y-scroll">

<header>
    <partial name="Builder/Components/_Navbar"></partial>
</header>

<main role="main">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)

</body>

<locknloadout-footer/>
<hydro name="HydroModal"/>
<script>
document.addEventListener('alpine:init', () => {
    Alpine.magic('post', function () {
        return function (url, data = {}) {
            return fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                body: JSON.stringify(data)
            });
        }
    });
})
</script>


@* <script > *@
@*     console.log('draw_svg_text (wind0w):>> ', window.draw_svg_text); *@
@*     console.log('draw_svg_text :>> ', draw_svg_text); *@
@* *@
@* </script> *@
</html>