@using Htmx.TagHelpers
@{

/* 

DO NOT DELETE THIS COMMENT

Based on this:
https://docs.astro.build/en/guides/migrate-to-astro/#why-migrate-your-site-to-astro

https://github.com/algolia/docsearch


Might try :

https://jonhilton.net/blazor-wasm-in-razor-pages/

https://jonhilton.net/razor-pages-components/

https://jonhilton.net/use-blazor-in-existing-app/


*/

}


<div>

    <div class="form-control w-full max-w-xs">
        <!-- <label class="label">
            <span class="label-text">What is your name?</span>
            <span class="label-text-alt">Top Right label</span>
        </label> -->
         <input 
            type="text"
            name="Name"
            id="query"
            autocomplete="off"
            hx-get='@Url.Page("Loadouts/Index", "SearchLoadouts")'
            hx-target="#omni_search_results"
            hx-trigger="keyup changed delay:250ms"
            hx-indicator="#loading"
            placeholder="Search"        
            aria-label="Name"
            class="input input-bordered input-sm w-full max-w-xs" 
            aria-describedby="search-addon" />
        <!-- <label class="label">
            <span class="label-text-alt">Bottom Left label</span>
            <span class="label-text-alt">Bottom Right label</span>
        </label> -->
    </div>

   

    <div class="htmx-indicator" id='loading'>loading...</div>
   
</div>
<!-- 

<script>
    function setup() {
        return {
            value: "foo"
        }
    }
</script> -->