@model object

@{


}


<h1>Who this site is for:</h1>

<ul>
    <li>
        Every day citizens who want to do the right thing for themselves and their neighbor or are interested in obeying God, or both.
    </li>

    <li>
        People who 100% support the 2nd Amendment as a God-given right and an insurance policy against a corrupt and (often lethal) federal government that is out of control.
    </li>

    <li>
        People who understand the difference between 'discernment' and 'discrimination' and are not immediately 'triggered' by differing beliefs.
    </li>

    <li>
        People who are tired of relying on politicians for their own well-being and who want to take defensive actions for themselves, their families and their neighbors.
    </li>

    <li>
        People who are passionate about guns and are willing to support 2A innovators.
    </li>

    <li>
        Everyone who understands that this project is completely "at will" and therefore the owner(s) reserve the right to ban anyone who violates the Terms of Service.
    </li>

    @*TODO: You sure about that meme?  + Modal for confirmation*@

</ul>

<h1>Who this site is NOT for:</h1>

<ul>
    <li>
        Anyone who voted for Joe Biden and anyone who hates Israel or supports her enemies. Take your anti-semitism to someone who tolerates you.
    </li>

    <li>
        Anyone who is in Antifa, Black Lies Matter, trans-terrorists, or any other home-grown terrorist organization. This isn't Meta.
    </li>

    <li>
        Anyone who cries about $8 checkmarks on Twitter. Services cost money. Deal with it.

        Alternatively, Anyone who objects to the owner(s) charging them pocket change for a potentially valuable service and passion project that has taken years of coding skills (and failures) to churn out for their benefit.
    </li>

    <li>
        Anyone attempting to subvert other Americans trying to defend themselves.
    </li>

    <li>
        Anyone who doesn't believe in free-speech or who believes in moral relativism, Marxism, "Progressivism", Socialism or Communism, etc.
    </li>

    <li>Anyone who violates the Terms of Use (duh)</li>

</ul>