@page
@model nugsnet6.Pages.IndexModel
@{
}

<div>
    <h1>Hello, Welcome to Guides!</h1>

    <iframe class="airtable-embed h-screen" src="https://airtable.com/embed/shrKkbzmrueyCqsEi?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" ></iframe>

    
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL3jpYyUOC1t6LRbIPaNmnDIZqrsuhFNY9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>