@* Todos:
    1. Track the selected Major Step
    2. Color the current Step a different color
*@
<cloaked class='flex flex-col lg:text-xl'

     x-data='{
         build_steps: [
                 "Caliber"
                , "Barrel"
                , "..."
            ]
    }'>
    <ul class="steps">
        <template x-for='step in build_steps'>
            <li
                class="step step-secondary"
                x-text='step'>
            </li>
        </template>
    </ul>

</cloaked>


@*

When putting your build together, you’ll need to decide on the following parts:

Caliber, barrel length, purpose?
Brace or stock?
Do you want your brace or stock to fold?
Ratcheting castle nut or staked castle nut?
What upper and lower receiver do you want?
Which trigger do you want or require?
Is your lower parts kit Mil-Spec or upgraded?
BCG.
Charging Handle (rear charging or side charging?).
Handguard preference?
Muzzle device?
Optics/Sights?
Pistol Grips/Foregrips
Barrel Takedown or Breakdown Kits
Cerakote choice (optional)

*@