<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="MyGet" value="https://www.myget.org/F/code-mechanic/api/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <MyGet>
            <add key="Username" value="nickpreston17" />
            <add key="ClearTextPassword" value="Mintsharp22!" />
        </MyGet>
    </packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <!-- <apikeys>
        <add key="https://www.myget.org/F/code-mechanic/api/v3/index.json"
            value="a4001039-0f89-4952-b9bb-d84d87d8262c" />
    </apikeys> -->
</configuration>