@model nugsnet6.Models.Loadout
@{
  // C# vars go here!
  var loadout = Model;
}

<div class="card flex-shrink-0 w-64 max-w-lg shadow-2xl bg-base-100 border-2 border-accent">
    <div class="card-body">
        <span class="label-text">@loadout.Name</span>
        <span class="label-text">@loadout.Notes</span>
        <a href="#" class="label-text-alt link link-hover">@loadout.Inspiration</a>
    </div>
</div>
