@page
@model nugsnet6.Pages.IndexModel
@{
}

@*
Items to consider:
https://www.youtube.com/watch?v=iGpKMbwpvyw

1. Medkit with Cat7
2. Pistol w/ 3 mags
3. CCW Holster
4. Stop the Bleed Training (free, city)
   Soft armor vest (pistol / shotgun - bulletproofme.com)
   Semi-Automatic Rifle (at least Aero + BCM)
   Pistol Light
5. Red dot
    close shooting
    home defense
6. EDC Backpack
7. Red dot
8.
9.
10. 
*@

<div class='flex flex-col' x-data='setup()'>

    <h1>Hello there!</h1>

    <span x-text='value' />
</div>


<script>
    function setup() {
        return {
            value: "foo"
        }
    }
</script>