<div x-data="setup()" class="flex flex-col items-center justify-center">
    <div id="grid" class="grid grid-cols-2 gap-1">
      <template x-for="n in panel_count">
          <div class="flex hover:bg-primary  text-4xl hover:text-2xl flex-col items-center justify-center w-40 h-40 text-white bg-cyan border-secondary hover:border-secondary hover:border-4 border-2 ">
          Panel
              <h2 class="" x-text="n"></h2>
          </div>
        </template>
    </div>
</div>

<script>
    function setup() {
      return {
        foo: "bar",
        panel_count: 4
      };
    }
</script>
