@using CodeMechanic.Types
@using nugsnet6.Extensions
@model HydroCounter

@{
    string devmode = Environment.GetEnvironmentVariable("DEVMODE").ToBoolean().AsJS();
    // Console.WriteLine("devmode? " + devmode);
}
@* x-on:click="localStorage.setItem('last-count',@Model.Count)" *@
<template
        x-if="@devmode"
    >

    <div
        class="flex flex-row join join-horizontal">
        <div x-data="{ index: 0 }">

            <p class="badge badge-success">
                Hydro Count: <strong>@Model.Count</strong>
            </p>
            <p class="badge badge-info">

                JS Count: <strong x-text="index"></strong>
            </p>


            <div class="join">
                <button
                    hydro-on:click="@(() => Model.Add())"

                    class="btn btn-primary join-item">
                    Add
                </button>
                <button
                    hydro-on:click="@(() => Model.Reset())"
                    class="btn btn-secondary join-item">
                    Reset
                </button>
                <button
                    x-on:click="index = index + 1"
                    class="btn btn-accent join-item">
                    (Javascript) Add
                </button>
            </div>
        </div>


    </div>
</template>