@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dictionary<string, object>
@{
    var partial_views_dictionary = Model;
}

<div class="flex flex-column items-center gap-2">
    @foreach (var kvp in partial_views_dictionary)
    {
        string partial_naem = kvp.Key;
        var partial_model_value = kvp.Value ?? default;

        <partial name="@partial_naem" model="@partial_model_value"></partial>
    }
</div>