<h1>KANBAN View of Market Listings I Found</h1>

<iframe class="airtable-embed" src="https://airtable.com/embed/app33DDBeyXEGRflo/shrT6NoKULX88zAfo?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>