@page
@using nugsnet6.Pages.Components
@model nugsnet6.Pages.Admin.IndexModel;
@{
    var parts_from_csv = Model.PartsFromCsv;
}

<flex>
    <section
        id="csv_imports" class="grid grid-rows-auto grid-cols-auto">
        <div class="alert alert-success">Parts found from CSV: @parts_from_csv.Count</div>
    </section>
    <section>
        <h2 class="text-lg">Section 2</h2>
        @* <ul> *@
        @*     <flex Orientation="@Flexies.Col"> *@
        @*         @foreach (var part in parts_from_csv) *@
        @*         { *@
        @*             <box> *@
        @*                 @part.Name *@
        @*             </box> *@
        @*         } *@
        @*     </flex> *@
        @* </ul> *@
    </section>
</flex>