@page
@using nugsnet6.Pages.Components
@using Htmx.TagHelpers
@using Hydro.TagHelpers
@model nugsnet6.Pages.Admin.IndexModel;
@{
    // string passphrase = Environment.GetEnvironmentVariable("BUYER_PASSPHRASE");
}

<section class="font-mono text-sm">

    <hydro-card>
        <hydro name="WebClipper"></hydro>
    </hydro-card>

    <div class="grid md:grid-cols-2 gap-2 border-2">
        <hydro-card>
            <slot name="image">
                <img class="w-48 h-auto" src="~/img/suppressors_assortment.webp" alt="">
            </slot>

            <slot name="title">
                <h1>
                    DB Actions
                </h1>
            </slot>

            <div alpine-data="new { Open = false }">
                <button class="btn btn-alert" x-on:click="open = !open">Show</button>
                <section class="border-2 border-info" x-show="open" x-cloak>

                    <h2 class="text-lg">Sqlite3 Tests</h2>

                    <button class="btn btn-success"
                            hx-get
                            hx-page="Index"
                            hx-page-handler="Save">
                        Save All to Sqlite DB
                    </button>

                    <button
                        hx-get
                        hx-page="Index"
                        hx-page-handler="CreateParts"
                        class="btn btn-accent">
                        Save Fakes to Sqlite DB
                    </button>
                </section>
            </div>

            <slot name="actions">
                <hydro name="FakePartForm"/>
            </slot>


            @* <hydro name="HydroCounter"/> *@

        </hydro-card>


        <hydro-card>
            <slot name="title">
                <h1>Other stuff...</h1>
            </slot>
        </hydro-card>
    </div>


    @* SCRAPS *@


    @* *@
    @* <hydro name="HydroAccordion" *@
    @*        params="@(new { Children = new HydroCollapseProps[] {  *@
    @*                    new() { Title = "Foo 1", Text = "Bar" } *@
    @*                    , new() { Title = "Foo 2", Text = "Baz" } *@
    @*                    , new() { Title = "Foo 3", Text = "Baz" } *@
    @*                    , new() { Title = "Foo 4", Text = "Baz" } *@
    @*                    , new() { Title = "Foo 5", Text = "Baz" } *@
    @*                    , new() { Title = "Foo 6", Text = "Baz" } *@
    @*                    , new() { Title = "Foo 7", Text = "Baz" } *@
    @*                 *@
    @*                } })"> *@
    @* </hydro> *@

    @* <hydro name="PartsStats"></hydro> *@


    @* <ul> *@
    @*     <flex Orientation="@Flexies.Col"> *@
    @*         @foreach (var part in parts_from_csv) *@
    @*         { *@
    @*             <box> *@
    @*                 @part.Name *@
    @*             </box> *@
    @*         } *@
    @*     </flex> *@
    @* </ul> *@

</section>