@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using nugsnet6.Models
@model nugsnet6.Pages.Admin.Intel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <partial name="DropdownTest" model="new User()"/>
</div>
</body>
</html>