@page
@model IndexModel
{

}

<div>

    <div class="tabs">
        <a class="tab tab-lg tab-lifted">
            <h1>Loadouts</h1>
            <partial name="_Loadouts" />
        </a> 
        <a class="tab tab-lg tab-lifted tab-active">
            <h1>Rounds</h1>
        </a>
        <a class="tab tab-lg tab-lifted">
            <h1>Guides</h1>
        </a>
    </div>

</div>