@page
@model IndexModel
{

}

<div>
   <h1>Welcome to the Nug Builder!</h1>
    
    <button
        class='btn-active btn'
        hx-get="@Url.Page("","RecommendedNugs")"
        hx-target="#recommendations"
    >
            Get Nug Recommendations
    </button>

    <section id="recommendations" />
</div>