@using nugsnet6.Models;
@using CodeMechanic.Extensions;
@model List<Build>
@{
  // C# vars go here!

  var builds = Model/*.Dump("model contents")*/ ?? new List<Build>();
  var count = builds.Count;
  //count.Dump("count");
  //builds.Dump("builds still here?");
}

<tbody>
   
    @foreach (var build in @builds)
    {
        <tr>
            <th class='text-white'>@build.Name</th>
            <td class='text-primary'>@build.Id</td>
            <td class='text-secondary'>@build.Reasoning</td>
            <td class='text-accent'>@build.TotalCost.ToString()</td>
        </tr>
    }
</tbody>


