@using nugsnet6.Models;
@model List<Build>
@{
  // C# vars go here!

  var builds = Model/*.Dump("model contents")*/ ?? new List<Build>();
  var count = builds.Count;
  //var taketwo = builds.Where(b=>b.Total_Cost > 0.0).Take(2).Select(b=>b.Total_Cost).Dump("first 2");
  //count.Dump("count");
  //builds.Dump("builds still here?");
}

@foreach (var build in @builds)
{
    <tr>
        <th class='text-primary'>@build.Name</th>
        <td class='text-accent'>$@build.Total_Cost.ToString()</td>
        <td class='text-secondary'>@build.Reasoning</td>
    </tr>
}
