@using nugsnet6.Models
@model List<Part>
@{
    var parts = Model;
    var chargers = (parts ?? new List<Part>()
    {
        new Part()
        {
            Name = "Bravo Company 4xl",
            Type = "ChargingHandle"
        }
    })
        .Where(p => p.Type == "ChargingHandle")
        ;
}


<div x-data='setup()'>
    <div class="card w-96 bg-neutral text-neutral-content">
        <div class="card-body items-center text-center">
            <p>What would you like for your Charging Handle?</p>
            <div class="card-actions justify-end">
                <span class="join">
                    <label for="">Type?</label>
                    <template x-for="charger_type in charger_types">
                        <button x-text="charger_type" class="btn btn-ghost">Rear</button>
                    </template>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    function setup() {
        return {
            charger_types: ["side", 'rear'],
            chargers: '@chargers', // TODO: init from db
        }
    }
</script>