@using CodeMechanic.RazorHAT.Services
@using CodeMechanic.RazorHAT
@using CodeMechanic.Diagnostics
@using CodeMechanic.Async
@using nugsnet6.Models

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Part>
@* @inject IAirtableQueryingService airtable_service *@
@{
    var parts = Model;
}

@foreach (var part in parts)
{
    <partial name="_Part" model="@part"></partial>
}

<div>
    <h1>Add Part</h1>
    <form action="post">
        <label for="@nameof(Part.Name)"></label>
        <input name="@nameof(Part.Name)"></input>
    </form>
</div>