@using Htmx.TagHelpers





<!-- 

<div>

    <ul class="menu p-3 bg-base-200 rounded-xl">
        <li class="menu-title">
        <span>Menu Title</span>
        </li>
        <li><a>First Menu Item</a></li>
        <li><a>Second Menu Item</a></li>
        <li><a>Third Menu Item</a></li>
    </ul>
    
</div>
<button
    class='btn-active btn'
    hx-get="@Url.Page("","RecommendedNugs")"
    hx-target="#recommendations"
>
    Get Nug Recommendations
</button>

<div id="recommendations" ></div>

</div>

<script>
    function setup() {

    }
</script> -->