@model dynamic

@* <h1> *@
@*     Select options and parts for your build *@
@* </h1> *@
<div class=" bg-base-300">

    <!-- stats -->

    <div class="max-h-48 stats text-tahiti-100 text-md">

        <div class="stat">
            <div class="stat-title">Budget remaining</div>
            <div class="stat-value">$5,400</div>
            <div class="stat-actions">
                <button class="btn btn-sm btn-success">Add funds</button>
                <button class="btn-tahiti">Reduce funds</button>
                <button class="text-tahiti-300 bg-tahiti-600 border-tahiti-800 border-8">??? funds</button>
            </div>
        </div>
        <div class="stat">
            <div class="stat-title">Current cost</div>
            <div class="stat-value">$1,400</div>
            <div class="stat-actions">
                <button class="btn btn-sm">Withdrawal</button>
                <button class="btn btn-sm">deposit</button>
            </div>
        </div>

    </div>


</div>