@model dynamic


<!-- progress -->

<div class="flex flex-row gap-4 items-center justify-center  border-2 border-green-500">
    <div class="max-h-48">
        <div class="radial-progress" style="--value:0;" role="progressbar">0%</div>
    </div>
</div>