@model dynamic


<!-- progress -->

<div class="flex flex-row gap-4 items-center justify-center bg-base-200">
    <div class="max-h-48">
        <div class="radial-progress bg-secondary" style="--value:70;" role="progressbar">70%</div>
    </div>
</div>