@page
@using nugsnet6.Models;
@model IndexModel
@{
   
}

<div
    class='flex flex-col items-center'
    x-data='setup()'>
    <partial name="_BuildSteps" />
    
    <div class="border-ghost border-l-4 border-r-2">
        <div class='grid grid-cols-2 grid-rows-auto'>
            <partial name="_BarrelPicker" />
        </div>
    </div>

</div>

<script>
    function setup() {
        return {
            steps: [
                'Purpose',
                'Caliber',
                'Barrel',
            ]
        }        
    }
</script>

<!-- <ul class="steps">
        <template x-for='step in steps'>
            <li  
                class="step step-secondary"
                x-text='step'
            >
            </li>
        </template>
    </ul> -->


@*

When putting your build together, you’ll need to decide on the following parts:

Caliber, barrel length, purpose?
Brace or stock?
Do you want your brace or stock to fold?
Ratcheting castle nut or staked castle nut?
What upper and lower receiver do you want?
Which trigger do you want or require?
Is your lower parts kit Mil-Spec or upgraded?
BCG.
Charging Handle (rear charging or side charging?).
Handguard preference?
Muzzle device?
Optics/Sights?
Pistol Grips/Foregrips
Barrel Takedown or Breakdown Kits
Cerakote choice (optional)

*@