@page
@model IndexModel
@{

}


@*

When putting your build together, you’ll need to decide on the following parts:

Caliber, barrel length, purpose?
Brace or stock?
Do you want your brace or stock to fold?
Ratcheting castle nut or staked castle nut?
What upper and lower receiver do you want?
Which trigger do you want or require?
Is your lower parts kit Mil-Spec or upgraded?
BCG.
Charging Handle (rear charging or side charging?).
Handguard preference?
Muzzle device?
Optics/Sights?
Pistol Grips/Foregrips
Barrel Takedown or Breakdown Kits
Cerakote choice (optional)

*@

<div
    class='flex flex-col items-center'
 x-data='setup()'>
    <partial name="_BuildSteps" />

   <!-- <h1>Welcome to the Nug Builder!</h1> -->

    <!-- <ul class="steps">
        <template x-for='step in steps'>
            <li  
                class="step step-secondary"
                x-text='step'
            >
                
            </li>
        </template>
    </ul> -->
    
    <partial name="_BarrelPicker" />
    <!-- <partial name="_RecommendationsPanel" /> -->

</div>


<script>
    function setup() {
        return {
            
        }
    }
</script>