@using Htmx.TagHelpers
@model dynamic


<div
    data-theme="cupcake" class="border-2 h-screen">
    <table class="table table-compact w-full">
        <thead>
        <tr>
            <th class=''>
                <input
                    type="text"
                    name="Name"
                    class="input input-bordered input-sm max-w-xs"
                    autocomplete="off"
                    hx-trigger="keyup changed delay:250ms"
                    hx-get='@Url.Page("/Builder/Index", "SearchBuilds")'
                    hx-indicator="#loading"
                    hx-target='#search_results'
                    hx-swap='innerHTML'
                    placeholder="e.g., Glock"
                    aria-label="Name"
                    aria-describedby="search-addon"/>
            </th>
        </tr>
        <tr>
            <th>
                <label>
                    <input type="checkbox" class="checkbox"/>
                </label>
            </th>
            <th>Name</th>
            <th>Total Cost</th>
            <th>Reasoning</th>
            <th>Id</th>
            <th>???</th>
            <th>???</th>
        </tr>
        </thead>
        <tbody id='search_results'>
        <div class="htmx-indicator" id='loading'>loading...</div>
        </tbody>
    </table>

</div>