@using CodeMechanic.Types
@model AnonymousUser

@{
    string args = $"?u={Model.uuid}";
}

<div
    x-data="{ message: 'foo'
}"uuid
    class="flex flex-col items-center justify-center">
    <p class="badge-info badge">
        User: 
        <b>@Model.uuid</b>
    </p>
    @if (@Model.uri.NotEmpty())
    {
        <p class="badge-accent badge">
            <b>@Model.uri</b>
        </p>
    }
    <img src="~/img/icons/spy.svg" alt="spy">
    <span
        x-init="append_url_params('@args')"
        @* x-text="message" *@
        >
    </span>
</div>