@model CarouselCardModel

@{
    var card = Model;
}

<div class="card bg-base-100 shadow-xl">
    <partial name="_ImageCarousel" model="@card.Images"/>

    <div class="card-body">
        <h2 class="card-title flex-wrap">@card.Title</h2>
        <p class="flex-wrap">@card.Description</p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Build</button>
        </div>
    </div>
</div>