<div>
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div>
                <h1 class="p-2 md:text-5xl text-3xl text-white font-bold">Less Fubars, More Range Time</h1>
                <h2 class="p-2 text-lg text-gray-500">Buy once, cry once! Lock-N-Loadout gives you informed decisions on your gun purchases, leaving you more with range time!</h2>

                <div class="flex space-x-6 items-center">
                    @* <a href="#signup_section"> *@
                    <button class="btn bg-purple-700 hover:bg-purple-400 text-white">Start a New Loadout</button>
                    @* </a> *@
                </div>

            </div>
        </div>
    </div>
</div>