@model int
@{
    int count = @Model;
}

<div class="avatar placeholder mb-8">
    <div class="ring-success bg-success/25 ring-offset-base-100 w-12 rounded-full ring ring-offset-2">
        <span class="text-white">
            @count
        </span>
    </div>
</div>