@page
@model IndexModel

@{
    var model = @Model;
}
<section x-data='home_setup()' class="text-center">

    <partial name="_WelcomeBuyers" model="model"/>

</section>

<script>
    const home_setup = () => {
        return {
            foo: 'Bartholowmew'
        }
    }
</script>