@page
@model IndexModel

@{
}

@* 
    <partial name="Shared/AlpineMorphSample" model="default"/> 
    <partial name="_CardOptionsPanel" model="default"/>
*@

<section x-data='home_setup()' class="text-center">

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Hello, there!</h1>

                <a href='Builder'
                   type='button'
                   hx-get
                   hx-page="Index"
                   hx-page-handler="Survey"
                   hx-swap="outerHTML"
                   class="btn btn-primary">
                    Let's Build!
                </a>
                
                 @* <partial name="_CardOptionsPanel" model="default"/> *@
                
            </div>
        </div>
    </div>
</section>
<script>
    const home_setup = () => {
        return {
            foo: 'Bartholowmew'
        }
    }
</script>