@page
@model IndexModel
@{
    ViewData["Title"] = "Lock N Loadout";
}

<div class="text-center">

    <partial name="_MainHero"></partial>
    <section id="main_stack" class="flex flex-col gap-4">
        <partial name="_ReasonsToBuy"></partial>
    </section>

    <section>
        <partial name="_SignUpHero"></partial>
    </section>

</div>

<style>
    html {
      scroll-behavior: smooth;
    }
</style>

@* <partial name=s"_PricingTiers"></partial> *@
@* <partial name="_Features"></partial> *@
@* <partial name="_Recap"></partial> *@
@* <h1 class="text-4xl">Not Another Todo App!</h1> *@
@* todo: add an animated sigh emoji *@
@* todo: add morpheus what if I told you? *@