@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div x-data='setup()' class="text-center">
    <div class="hero min-h-screen bg-base-200">

        <div class="hero-content text-center">
            <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello, there!</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                <a href='Builder' type='button' 
                   hx-get
                   hx-page="Index"
                   hx-page-handler="Pricing"
                   hx-swap="outerHTML"
                   class="btn btn-primary">Let's Build!</a>
            </div>
        </div>
    </div>
</div>

