@page
@model nugsnet6.Pages.IndexModel
@{
}

<div>
    <iframe class="airtable-embed h-screen" src="https://airtable.com/embed/shrxUfIPMhPnolQC9?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>