@page
@model BallisticsChartModel
@{
    var foo = "bar";
}

<div class='flex flex-col' x-data='setup()'>
   <h1>
    Ballistics for blah
   </h1>

    <label class='glowing text-lg'> Here's a sample Ballistics chart that's really neat: </label>
   
   
    <a class='link-accent' href='https://www.sellierbellot.us/products/rifle-ammunition/rifle-ammunition-fmj/detail/492/'>
     <button class='btn-accent btn'>
     Go
    </button>
    </a>

   <div class="chart-container" width="600" height="400">
    <canvas id="myChart"></canvas>
</div>

<script>
    const labels = Array.from({length:900}, (_,index)=>index + 20);

    const data = {
        datasets: [
            {
                label: 'Velocity [fps]',
                data: [
                {x: 0, y: 1060},
                    {x: 100, y: 1013},
                    {x: 200, y: 977},
                    {x: 300, y: 944},
                    {x: 400, y: 914},
                ],
                borderColor: 'rgb(0, 192, 0)',
                backgroundColor: 'rgb(0, 192, 0, 0.5)',
                yAxisID: 'y',
                showLine: true
            },
            {
                label: 'Energy [ft.lb]',
                data: [
                    {x: 0, y: 499},
                    {x: 100, y: 456},
                    {x: 200, y: 424},
                    {x: 300, y: 396},
                    {x: 400, y: 370},
                ],
                borderColor: 'rgb(192, 0, 75)',
                backgroundColor: 'rgb(192, 0, 75, .5)',
                yAxisID: 'y2',
                showLine: true
            },
            {
                label: 'Points of Impact (POI) [in]',
                data: [
                    {x: 50, y: 3.1},
                    {x: 100, y: 0.0},
                    {x: 200, y: -31.8},
                    {x: 300, y: -100.1},
                    {x: 400, y: -207.4},
                ],
                borderColor: 'rgb(192, 192, 75)',
                backgroundColor: 'rgb(192, 192, 75, 0.5)',
                yAxisID: 'y3',
                showLine: true,
                text: "YO"
            }
        ]
        ,
        // options: options
    };
    
    const config = {
        type: 'scatter',
        data: data,
        options: {
            scales: {
                // x: {beginAtZero :true},
                // y: {beginAtZero :true}
            }
        }
    };

    document.addEventListener('DOMContentLoaded', (event) => {

        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, config );

    });
</script>
        
</div>
