@page
@model nugsnet6.Pages.Rounds.HxPostExample
@{

}

<section class="min-h-screen">
    <div class="hero">
        <div class="hero-content">
            <partial name="HxPostSampleForm" model="Model"/>
        </div>
    </div>
</section>
