@page
@model nugsnet6.Pages.IndexModel
@{
}

<div>
    <h1>Cool Clones I found</h1>

    <iframe class="airtable-embed h-screen" src="https://airtable.com/embed/shrpyhyg17pyq8RSQ?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" style="background: transparent; border: 1px solid #ccc;"></iframe>

</div>