@page
@model IndexModel

<!-- component -->
@* <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script> *@
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script> *@

<section class="grid grid-cols-2">

    <div class="border-2 border-yellow-500">
        <partial name="_StockTickerSample"/>
    </div>

    <div class="border-2 border-yellow-500 flex flex-col items-center justify-center gap-4">
        <partial name="_HomeButton"/>
        <partial name="_BackButton"/>
    </div>

</section>