@page "/AirsoftLoadoutCard"

<div
  class="flex-auto flex"
  data-rowid="recP3Ne5o1t0KzNjS"
  data-tutorial-selector-id="rowCard-mk23Ssx23HpaMp5AdapterWithMagazinePrimaryAirsoft"
  style="height: 80px"
>
  <div class="flex-auto p1">
    <div class="flex-inline col-12">
      <div
        class="col-12 mb1 strong big truncate line-height-4"
        data-columntype="text"
      >
        <div class="flex-auto truncate">
          MK23 / SSX23 HPA/MP5 adapter with magazine – Primary Airsoft
        </div>
      </div>
    </div>
    <div class="flex overflow-hidden">
      <div class="flex-none overflow-hidden pr1" style="width: 80px">
        <div
          class="micro caps stronger quieter truncate line-height-4"
          title="Cost"
        >
          Cost
        </div>
        <div
          data-columntype="number"
          class="flex-inline items-center fit overflow-hidden truncate cardCell line-height-4"
          style="height: 24px"
        >
          <div class="flex-auto truncate line-height-4">$139.99</div>
        </div>
      </div>
      <div class="flex-none overflow-hidden pr1" style="width: 140px">
        <div
          class="micro caps stronger quieter truncate line-height-4"
          title="URL"
        >
          URL
        </div>
        <div
          data-columntype="text"
          class="flex-inline items-center fit overflow-hidden truncate cardCell line-height-4"
          style="height: 24px"
        >
          <div class="flex-auto truncate">
            <span class="url"
              >https://primaryairsoft.us/products/mk23-tokyo-marui-hpa-mp5-adapter</span
            >
          </div>
        </div>
      </div>
      <div class="flex-none overflow-hidden pr1" style="width: 92px">
        <div
          class="micro caps stronger quieter truncate line-height-4"
          title="Calibers"
        >
          Calibers
        </div>
        <div
          data-columntype="multiSelect"
          class="flex-inline items-center fit overflow-hidden truncate cardCell line-height-4"
          style="height: 24px"
        ></div>
      </div>
    </div>
  </div>
  <div
    class="flex-none rounded-big-right overflow-hidden white z1"
    style="width: 80px"
  >
    <div
      class="preview attachment square"
      title=""
      style="height: 80px; width: 80px"
    >
      <div
        class=""
        style="
          box-sizing: border-box;
          width: 80px;
          height: 80px;
          overflow: hidden;
        "
      >
        <img
          class="content flex-none"
          draggable="false"
          src="https://v5.airtableusercontent.com/v1/15/15/1680508800000/jvSneyTdKRE6TZaVAIosOw/vMadeU6Nv3V5uiIiMFRWpBrIGlMo7fdrv1zW_oOUmciNkhrhDLskTXPJJ1e2UmwWWN6dZlTYMrQFisToMIocKg/Jtxc8XXVav_vL6SkQR2kRLM7gKf8NSBNLqL0fAsc6mk"
          style="
            width: 59px;
            height: 80px;
            max-height: 80px;
            margin-left: 11px;
            margin-top: 0px;
          "
        />
      </div>
    </div>
  </div>
</div>
