   @page
   @model nugsnet6.Pages.IndexModel
   @{
   }
   
   <div class='flex flex-col' x-data='setup()'>
   
        <label> Here's a sample Ballistics chart that's really neat: </label>
       <a href='https://www.sellierbellot.us/products/rifle-ammunition/rifle-ammunition-fmj/detail/492/'></a>
   </div>
   
   
   <script>
       function setup() {
           return {
               value: "foo"
           }
       }
   </script>