@page
@model IndexModel
@{
  // C# vars go here!
}

<form asp-action="post">
    <div class="card p-5 mb-4 text-ocean-500">

        <!-- <h1>Hello, there!</h1> -->

        <div x-data="{ open: false }">
            <button @@click="open = true">Expand</button>
        
            <span x-show="open">
            Content...
            </span>
        </div>       

        <div class="d-flex justify-content-between">

            <button>Search Airtable Base</button>

            <button
                class='btn-active btn'
                hx-get="@Url.Page("","RecommendedNugs")"
                hx-target="#recommendations"
                >Get Nug Recommendations</button>

            <div id="recommendations">
            </div>

            
            <!-- Sample cards -->
            <div>

                <!-- <div class='card'>
                    <span class='card-title'>
                        <h1>Card Title</h1>
                    </span>
                    <div>
                        <div class="radial-progress" style="--value:0;">0%</div>
                        <div class="radial-progress" style="--value:20;">20%</div>
                        <div class="radial-progress" style="--value:60;">60%</div>
                        <div class="radial-progress" style="--value:80;">80%</div>
                       <div class="radial-progress" style="--value:100;">100%</div>
                    </div>
                    <div class='card-actions'>
                        <button class='btn btn-primary'>P</button>
                        <button class='btn btn-secondary'>S</button>
                        <button class='btn btn-ghost'>G</button>
                        <button class='btn btn-accent'>A</button>
                    </div>
                </div> -->

            </div>

            <!-- <div>
                <button class="btn btn-primary"
                        hx-post="@Url.Page("","Increment")"
                        hx-target="#counter">
                    Add
                </button>
                <button
                    x-show='false'
                    hx-get="@Url.Page("","Stuff")"
                    hx-swap='outerHTML'
                    class="btn-accent btn"
                >
                Get Stuff
                </button>

               
            </div>
            <div>
                <h2 id="counter">
                    <span>0</span>
                </h2>

               
            </div> -->
        </div>
    </div>
</form>