@page
@using nugsnet6.Pages.Sandbox
@model IndexModel
@{
  // C# vars go here!
}

<form x-data='setup()' asp-action="post">

    <h1 class='glowing text-8xl' x-text='title'></h1>

    <div class="card p-5 mb-4 text-ocean-500">
        <div class="d-flex justify-content-between">

            <button>Search Airtable Base</button>

            <button
                class='btn-active btn'
                hx-get="@Url.Page("","RecommendedNugs")"
                hx-target="#recommendations"
                >Get Nug Recommendations</button>

            <div id="recommendations">
            </div>


            <partial name="BulletProperties" model="null" />            
            <!-- <partial name="BallisticsChart" model="null" />             -->
          
            <span id='count-me'>counter go hear</span>
           
        </div>
    </div>
</form>

<script>
    function setup()
    {
        return {
            title: "Sandbox"
        }
    }
</script>