@page
@using Htmx.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using nugsnet6.Pages.Shared
@model IndexModel
@{
    var mode = Environment.GetEnvironmentVariable("ENVIRONMENT") ?? "development";
}


<script>
    function setup()
    {
        return {
            title: "Sandbox",
            devmode: true,
            mode: @mode,
            
            panels: {
                
            }
        }
    }
</script>


<section class="flex flex-col">
    <h1 class="text-3xl">Postgres Tests</h1>

    <div class="flex flex-row">
        <button
            class="btn btn-accent"
            hx-get="@Url.Page("Index", "SamplePostgresSchema")">
            Postgres Test
        </button>
        <button
            class="btn btn-accent"
            hx-get="@Url.Page("Index", "InsertNewUser")"
            hx-target="#new_user">
            Insert New User
        </button>
        <span id="new_user"></span>
    </div>
</section>

@* <partial name="Experimental"></partial> *@