@page
@using nugsnet6.Pages.Sandbox
@model IndexModel
@{
  // C# vars go here!
}

<div x-data='setup()' >

    <h1 class='glowing text-8xl' x-text='title'></h1>

    <div class="card p-5 mb-4 text-ocean-500">
        <div class="d-flex justify-content-between">

            <button>Search Airtable Base</button>

            <button
                class='btn-active btn'
                hx-get='@Url.Page("","RecommendedNugs")'
                hx-target="#recommendations"
                >Get Nug Recommendations</button>

            <div id="recommendations">
            </div>


            <component type="typeof(HelloWorld)" render-mode="ServerPrerendered" />


            <!-- <partial name="BulletProperties" model="null" />             -->
            <!-- <partial name="BallisticsChart" model="null" />             -->
          
           
        </div>
    </div>
</div>

<script>
    function setup()
    {
        return {
            title: "Sandbox"
        }
    }
</script>