@page
@using Htmx.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using nugsnet6.Pages.Shared
@using nugsnet6.Models

@using CodeMechanic.RazorHAT.Services
@using CodeMechanic.Types
@using NSpecifications
@using nugsnet6.Extensions
@using TPOT_Links.Controllers
@using CodeMechanic.Diagnostics
@model IndexModel
@inject IMarkdownService markdownService
@inject IPartService partsService
@inject IFakerService fakes
@{
    var markdown_files = markdownService.GetAllMarkdownFiles(devmode: false);
    var parts = partsService.ReadAll();

    var md_calc = new StatsCalculator<MarkdownFile>(markdown_files)
        .AddValidation(md => md.FilePath.IsNotEmpty());

    var markdown_stats = md_calc
        .ComputeStats()
        .With(x => x.Title = "Total Markdown Files")
        ;

    var parts_calc = new StatsCalculator<Part>(parts)
        .AddValidation(p => !(p.Cost < 0) && p.Name.IsNotEmpty());

    var parts_stats = parts_calc
        .ComputeStats()
        .With(x => x.Title = "Total Parts")
        ;

    /*
    ASpec<AmmoseekRow> ammo = new Spec<AmmoseekRow>(
        ammo => ammo.caliber.NotEmpty()
        );

    var ammo_calc = new StatsCalculator<AmmoseekRow>(Model.AmmoseekRows)
        .AddValidation(ammo);

    var ammo_stats = ammo_calc.ComputeStats().With(x => x.Title = "Ammo Stats");
    ammo_stats.Dump("ammo");
    */
}

<div class="hero min-h-sm bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Sandbox 🏝️</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            <!-- <button class="btn btn-primary">Get Started</button> -->

        </div>
    </div>
</div>

<section class="vertical-padding flex flex-col gap-2">

    <div class="grid grid-cols-2 grid-rows-auto gap-4 sm:grid-cols-1">

        <!-- markdown stats -->
        <partial name="_SandboxStatsCard" model="@markdown_stats"></partial>
        <!-- regexes found stats -->
        <partial name="_SandboxStatsCard" model="@parts_stats"></partial>


        <form hx-post method="post">
            <button
                hx-swap="outerHTML"
                class="btn btn-primary"
                asp-page-handler="BulkInsertAmmoseekRows">
                Bulk Upsert Ammo Prices
            </button>
            <button
                hx-swap="outerHTML"
                class="btn btn-primary"
                asp-page-handler="BulkInsertParts">
                Bulk Upsert Parts
            </button>
        </form>

    </div>

    <button
        hx-get
        hx-trigger="revealed once, click"
        hx-page="Index"
        hx-page-handler="AmmoseekPrices"
        hx-target="#prices"
        class="btn btn-alert">
        Get Ammo Prices

        <img alt="Result loading..." class="htmx-indicator" width="25" src="/img/bars.svg"/>

    </button>
    
    @* <partial name="_AmmoseekEdit" *@
    @*          model="Model.Insert"> *@
    @* </partial> *@

    <div x-if="true" id="prices">
        <template>
            <partial name="_AmmoseekTable" model="Model.AmmoseekRows"></partial>
        </template>
    </div>

    <div x-if="false">
        <template>
            <h1>Invalid Parts</h1>
            @if (!parts_calc.InvalidMatches.IsNullOrEmpty())
            {
                @foreach (var valid_part in parts_calc.InvalidMatches)
                {
                    <li>Name: @valid_part.Name</li>
                    <li>Cost: @valid_part.Cost</li>
                }
            }
        </template>
    </div>

    @* Modal test *@

    <a href="/Rounds/HxPostExample">
        <button class="btn btn-ghost">Add new Seek Record</button>
    </a>

    @* <div class="text-center"> *@
    @*     <h1 class="display-4">Welcome</h1> *@
    @*     <button hx-get hx-page="Index" *@
    @*             hx-page-handler="Modal" *@
    @*             hx-target="#modal-container"> *@
    @*         Show Modal *@
    @*     </button> *@
    @* </div> *@

    <div id="modal-container"></div>
</section>