@* @page  *@
@* @model nugsnet6.Pages.Sandbox.LoadoutMan *@
@* @{ *@
@*      *@
@* } *@
@* Inspriation https://us.novritsch.com/loadouts/ *@

<div>
    <h1>Yer Loadout</h1>
    <button 
        hx-get="@Url.Page("LoadoutMan", "Stuff")"
        hx-swap='outerHTML'
        hx-target="#stuff"
    >Get stuff</button>
    <div id='stuff'></div>
</div> 