@using nugsnet6.Pages.Sandbox
@using nugsnet6.Pages.Shared
@using Htmx.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model dynamic

<div class='flex flex-column' x-data='setup()'>

    <partial name="_LoadoutStatsCard"/>
    <!-- <div class='grid grid-cols-3 grid-flow-col gap-4'>
        @* <partial name="_StatsCard" /> *@
        @* <partial name="_StatsCard" /> *@
        @* <partial name="_StatsCard" /> *@
        @* <partial name="_StatsCard" /> *@

    </div> -->

    <h1 x-show='true' class='glowing text-3xl' x-text='title'></h1>

    <div x-show='true' class="card p-5 mb-4 text-ocean-500">
        <div class="d-flex justify-content-between">

            <button>Search Airtable Base</button>

            <button
                class='btn-active btn'
                hx-get='@Url.Page("Index", "RecommendedRifles")'
                hx-target="#recommendations">
                Get Nug Recommendations
            </button>

            <div id="recommendations">
            </div>

            <component type="typeof(Grid)" render-mode="ServerPrerendered">
                <component type="typeof(Panel)" Dismissible="false" TitleClass="bg-danger" render-mode="Static">
                    <div>
                        <button class="btn btn-active">Button</button>
                        <button class="btn btn-active btn-primary">Button</button>
                        <button class="btn btn-active btn-secondary">Button</button>
                        <button class="btn btn-active btn-accent">Button</button>
                        <button class="btn btn-active btn-ghost">Button</button>
                        <button class="btn btn-active btn-link">Button</button>
                    </div>
                </component>
                <component type="typeof(Panel)" Dismissible="true" TitleClass="bg-primary" render-mode="ServerPrerendered">
                    <div>
                        <button class="btn btn-active">Button</button>
                        <button class="btn btn-active btn-primary">Button</button>
                        <button class="btn btn-active btn-secondary">Button</button>
                        <button class="btn btn-active btn-accent">Button</button>
                        <button class="btn btn-active btn-ghost">Button</button>
                        <button class="btn btn-active btn-link">Button</button>
                        <span class='text-2xl text-primary'>
                            <component type="typeof(OmniSearch)" render-mode="ServerPrerendered"/>
                        </span>
                    </div>
                </component>
            </component>

            @* <!-- <partial name="BulletProperties" model="null" />             --> *@
            @* <!-- <partial name="BallisticsChart" model="null" />             --> *@


        </div>
    </div>
</div>