@model HydroSplit
@{
    var orientation = Model.Orientation;
}

@if (orientation.Equals(SplitOrientation.Horizontal))
{
    <div class="grid grid-rows-auto grid-cols-2">
        @Model.Slot()
    </div>
}
else if (orientation.Equals(SplitOrientation.Vertical))
{
    <div class="grid grid-rows-2 grid-cols-auto">
        @Model.Slot()
    </div>
}