@model nugsnet6.Pages.Components.HydroStat

<div class="stat-title">
    @Model.Slot("title")
</div>
<div class="stat-value">
    @Model.Slot("value")
</div>
<div class="stat-desc">
    @Model.Slot("desc")
</div>