@model HydroSection

@* <template x-if="!@Model.Hidden.AsJS()"> *@
<section class="hydrosection">
    <div class="text-3xl text-primary">
        @Model.Slot("header")
    </div>
    <div class="">
        @Model.Slot()
    </div>
</section>
@* </template> *@