@model HydroSection

<section class="hydrosection">
    <template x-if="!@Model.Hidden">
        <div class="text-3xl text-primary">
            @Model.Slot("header")
        </div>
        <div class="">
            @Model.Slot()
        </div>
    </template>
</section>