@model HydroHero

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">@Model.Slot("header")</h1>
            @Model.Slot()
            @Model.Slot("actions")
        </div>
    </div>
</div>