@model UserIntroduction

<div class="bg-secondary-200/30 border rounded-lg p-2 text-sm shadow-sm">
    <input asp-for="FirstName" hydro-bind/>
    <input asp-for="LastName" hydro-bind/>
    <span>Full name: @Model.FullName</span>

    <div class="join">
        <input class="join-item btn" type="radio" name="options" aria-label="Radio 1"/>
        <input class="join-item btn" type="radio" name="options" aria-label="Radio 2"/>
        <input class="join-item btn" type="radio" name="options" aria-label="Radio 3"/>
    </div>
</div>